{{!-- Login page --}}
<form class="ui form">
  <h2>Login to your Account</h2><br>
  <div class="field">
    <label>Username</label>
    <input type="text" name="first-name" placeholder="Username">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password" placeholder="Password">
  </div>
  
  <button class="ui button" type="submit">Login</button>
</form>

<script src="/js/login.js"></script>