{{!-- Signup page --}}
<form class="ui form">
  <h2>Signup for an account</h2><br>
  <div class="field">
    <label>Username</label>
    <input type="text" name="first-name" placeholder="Username" id="username">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password" placeholder="Password" id="password">
  </div>
  
  <button class="ui button" type="submit">Signup</button>
</form>

<script src="/js/signup.js"></script>